* {
  font-family: Roboto;
  font-weight: normal;
  color: #fff;
}

:root {
  --color1: #2f343a;
  --color2: #c8a35f;
  --color3: #393f47;
  --colot4: #2f343a;
  --border: 1px solid black;
}

.lock {
  overflow: hidden;
}

.btn-scroll {
  width: 30px;
  height: 30px;
  background-color: var(--color2);
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 50;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.viz {
  opacity: 1;
  transition: 1s ease-in-out;
}

.contact {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.contact::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}
.contact .container {
  margin: 10px;
  width: 500px;
  height: 500px;
  background-color: var(--color3);
  border-radius: 3px;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .container p {
  font-size: 20px;
  font-weight: bold;
}
.contact .container input {
  color: #000;
  width: 90%;
  height: 50px;
  margin: 25px 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px var(--color2);
}
.contact .container textarea {
  color: #000;
  width: 90%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 16px;
  margin: 25px 0;
  box-shadow: 0 0 5px var(--color2);
}
.contact .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: var(--color2);
}
.contact .container a:hover {
  opacity: 0.8;
}
.contact .container .close {
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.footer .container, .company .container, .services .container, .slider .container, .navigation .container, .header .top-line .container {
  position: relative;
  width: 80%;
  margin: auto;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}
html {
  scroll-behavior: smooth;
}

.header {
  position: relative;
}
.header .top-line {
  display: flex;
  align-items: center;
  background-color: var(--color2);
  width: 100%;
  height: 45px;
}
.header .top-line .container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
}
.header .top-line .container .lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85px;
  height: 13px;
}
.header .top-line .container .lang li .item-lang {
  opacity: 0.5;
}
.header .top-line .container .lang li .item-lang:hover {
  opacity: 0.7;
}
.header .top-line .container .lang li .active {
  opacity: 1;
}

.navigation {
  background-color: var(--color1);
  height: 70px;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.navigation .container {
  display: flex;
  align-items: center;
}
.navigation .container .office {
  display: flex;
  align-items: center;
}
.navigation .container .office a {
  padding-left: 10px;
}
.navigation .container .office:before {
  content: "";
  display: inline-block;
  position: relative;
  margin: 0 30px;
  width: 1px;
  height: 45px;
  background-color: #f2f2f2;
}
.navigation .container .nav {
  text-transform: uppercase;
  position: absolute;
  right: 0;
}
.navigation .container .nav .hamburger-menu {
  display: flex;
}
.navigation .container .nav .hamburger-menu input {
  display: none;
}
.navigation .container .nav .hamburger-menu label {
  display: none;
}
.navigation .container .nav .hamburger-menu .list {
  font-size: 14px;
  line-height: 16;
  display: flex;
}
.navigation .container .nav .hamburger-menu .list li {
  font-weight: 400;
  margin-left: 20px;
  height: 100%;
}
.navigation .container .nav .hamburger-menu .list li a {
  transition: 0.3s ease-in-out;
}
.navigation .container .nav .hamburger-menu .list li a:hover {
  color: var(--color2);
}

.freight-transportation {
  background: url(../img/bg.png);
  width: 100%;
  height: 620px;
  background-position: -300px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.freight-transportation .block {
  border: 1px solid #c8a35f;
  padding: 40px;
}
.freight-transportation .block .h1 {
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: translate(0%, 120%);
  transition: all 0.5s ease-in-out;
}
.freight-transportation .block .h1._active {
  opacity: 1;
  transform: translate(0%, 0%);
}
.freight-transportation .block h2 {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 45px 0;
  width: 777px;
  opacity: 0;
  transform: translate(0%, 120%);
  transition: all 0.5s ease-in-out 0.1s;
}
.freight-transportation .block h2._active {
  opacity: 1;
  transform: translate(0%, 0%);
}
.freight-transportation a {
  position: absolute;
  bottom: 50px;
  animation: slide 2.5s ease-in-out infinite;
  transition: 0.5s ease-in-out;
}
.freight-transportation a:hover {
  filter: invert(1);
}

.slider {
  background-color: var(--color3);
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider::after {
  content: "";
  position: absolute;
  background-color: var(--color1);
  width: 410px;
  height: 560px;
  z-index: 1;
}
.slider .container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translate(0%, 150%);
  transition: all 0.5s ease-in-out;
}
.slider .container._active {
  opacity: 1;
  transform: translate(0%, 0%);
}
.slider .container .slider-btn a {
  cursor: pointer;
}
.slider .container .sl {
  display: flex;
  width: 1000px;
  height: 100%;
  overflow: hidden;
}
.slider .container .sl .item {
  display: flex;
  width: 1000px;
  position: relative;
  transition: 0.5s ease-in-out;
  left: 0px;
}
.slider .container .sl .item.item2 {
  left: 890px;
  color: #000;
}
.slider .container .sl .item.item2 img {
  height: 100%;
  position: relative;
  top: 0px;
}
.slider .container .sl .item .info {
  width: 445px;
}
.slider .container .sl .item .info h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.slider .container .sl .item .info h2::before {
  content: "";
  display: inline-block;
  width: 90px;
  height: 6px;
  background: #c8a35f;
  margin-bottom: 20px;
}
.slider .container .sl .item .info .h3 {
  margin-top: 30px;
  font-size: 18px;
  line-height: 28px;
}
.slider .container .sl .item .info .btn {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 55px;
  background-color: var(--color2);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.slider .container .sl .item .info .btn:hover {
  opacity: 0.6;
}
.slider .container .sl .item img {
  width: 445px;
  height: 266px;
  position: relative;
  top: 50px;
  left: 100px;
}
.slider .container .slider-btn {
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider .container .slider-btn .next {
  color: var(--color2);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  background: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 90px 5px;
  width: 130px;
  height: 22px;
  text-align: left;
  display: inline-block;
}
.slider .container .slider-btn .back {
  color: var(--color2);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  background: url(../img/arrowb.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 0 5px;
  width: 130px;
  height: 22px;
  text-align: right;
  display: inline-block;
}

.services {
  background-color: var(--color1);
}
.services .container {
  margin: auto;
  padding-top: 100px;
}
.services .container h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 60px;
  width: 167px;
}
.services .container h2::before {
  content: "";
  display: inline-block;
  width: 90px;
  height: 6px;
  background: #c8a35f;
  margin-bottom: 20px;
}
.services .container .grid-services .list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.services .container .grid-services .list li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 303px;
  height: 180px;
  background-color: var(--color3);
  border: 1px solid var(--color1);
  transition: 0.5s ease-in-out;
  transform: translate(0%, 100%);
}
.services .container .grid-services .list li._active {
  transform: translate(0%, 0%);
}
.services .container .grid-services .list li.li-item {
  transform: translate(0%, 150%);
}
.services .container .grid-services .list li.li-item._active {
  transform: translate(0%, 0%);
}
.services .container .grid-services .list li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.services .container .grid-services .list li a span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 30%;
  transition: background-color 0.5s ease-in-out, border-radius 0.25s ease-in-out;
}
.services .container .grid-services .list li a span svg {
  transition: 0.5s ease-in-out;
}
.services .container .grid-services .list li a h3 {
  padding-top: 43px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  bottom: 41px;
}
.services .container .grid-services .list li:hover {
  background-color: var(--color2);
}
.services .container .grid-services .list li:hover a span {
  background-color: #fff;
  border-radius: 50%;
}
.services .container .grid-services .list li:hover a svg {
  fill: var(--color1);
}
.services .container .grid-services .list li img {
  padding-bottom: 40px;
}

.company {
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  position: relative;
}
.company::after {
  content: "";
  width: 410px;
  height: 482px;
  position: absolute;
  background-color: var(--color3);
  z-index: 1;
  top: 120px;
}
.company .container {
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.company .container .company-info {
  transform: translate(-600%, 0%);
  transition: 1s ease-in-out;
}
.company .container .company-info._active {
  transform: translate(0%, 0%);
}
.company .container .company-info h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 380px;
}
.company .container .company-info h2 span {
  margin: 0 5px;
}
.company .container .company-info h2::before {
  content: "";
  display: inline-block;
  width: 90px;
  height: 6px;
  background: #c8a35f;
  margin-bottom: 20px;
}
.company .container .company-info h3 {
  width: 445px;
  font-size: 16px;
  line-height: 23px;
}
.company .container .grid-company {
  transform: translate(-400%, 0%);
  transition: 0.8s ease-in-out;
  opacity: 0;
}
.company .container .grid-company._active {
  opacity: 1;
  transform: translate(0%, 0%);
}
.company .container .grid-company ul {
  width: 602px;
  display: flex;
  flex-wrap: wrap;
}
.company .container .grid-company ul li {
  width: 200px;
  height: 160px;
  background-color: #fff;
  border: 0.25px solid var(--color2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}
.company .container .grid-company ul li img {
  position: absolute;
  top: 0;
}
.company .container .grid-company ul li .number {
  color: var(--colot4);
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.company .container .grid-company ul li .text-company {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.company .container .grid-company ul li .info-company {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}

.map {
  width: 100%;
  height: 450px;
  overflow: hidden;
  cursor: pointer;
}
.map iframe {
  width: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: var(--color2);
  display: flex;
  align-items: center;
}
.footer .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer .container .footer-info {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .footer-info p {
  padding: 3px 0;
}
.footer .container .footer-info a {
  padding: 3px 0;
  display: block;
}
.footer .container .footer-info .email {
  color: #000;
}